.column_a {
    float: left;
    width: 50%;
}

.column_b {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#right_column {
    width: 90%;
    margin: 5%;
    border: 0px solid black;
    padding: 0%;
}

#left_column {
    width: 90%;
    margin: 5%;
    border: 0px solid black;
    padding: 0%;
}